<form [formGroup]="userForm" (ngSubmit)="addUser()">
  <p-card header="UserForm">
    <div class="field">
      <label for="name">Name</label>
      <input
        type="text"
        pInputText
        formControlName="name"
        name="name"
        placeholder="Enter your Name"
      />
      <small
        *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.dirty"
        class="block p-error"
      >
        Name is required.
      </small>
    </div>

    <div class="field">
      <label for="email">Email</label>
      <input
        type="email"
        pInputText
        formControlName="email"
        name="email"
        placeholder="Enter your email"
      />
      <small
        *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.dirty"
        class="block p-error"
      >
        Email is required.
      </small>
    </div>

    <div class="field">
      <label for="password">Password</label>
      <input
        type="password"
        pInputText
        formControlName="password"
        class="w-full"
        name="password"
        placeholder="Type your password"
      />
      <small
        *ngIf="
          userForm.get('password')?.invalid && userForm.get('password')?.dirty
        "
        class="block p-error"
      >
        Password is required
      </small>
    </div>

    <div class="field">
      <label for="confirmPassword">Confirm Password</label>
      <input
        type="password"
        pInputText
        formControlName="confirmPassword"
        class="w-full"
        name="confirmPassword"
        placeholder="Confirm your Password"
      />
      <small
        *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.dirty"
        class="block p-error"
      >
        Confirm the password
      </small>
      <small
        class="block p-error"
        *ngIf="userForm.errors?.['passwordMismatch'] && userForm.get('password')?.valid && userForm.get('confirmPassword')?.valid"
      >
        Password should match
      </small>
    </div>
    <p-button
      label="Submit"
      styleClass="w-full"
      type="submit"
    >
    </p-button>
  </p-card>
</form>
